.container {
	text-align: center;
}

.pokemonList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px 20px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

@media only screen and (max-width: 1150px) {
	.pokemonList {
		max-width: 800px;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 800px) {
	.pokemonList {
		grid-template-columns: 1fr;
		max-width: 400px;
	}
}
